:root {
  --color-primary: #ff9494;
  --color-primary-2: #ffd1d1;
  --color-primary-3: #ffe3e1;
  --color-primary-4: #fff5e4;
  --color-gray: #b4b4b8;
  --color-gray-2: #c7c8cc;
  --color-gray-3: #e3e1d9;
  --color-gray-4: #f2efe5;
  --color-black: #11192d;

  font-size: 10px;
}

body {
  margin: 0;
  font-size: 16px;
  color: var(--color-black);
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a {
  color: var(--color-black);
  text-decoration: none;
}
